body {
  background-color: #31C6C7;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  max-width: 350px;
  margin: 0;
}

.header {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  color: rgb(255, 255, 255);
}

.logout {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 25%;
}

.pet-list {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pet-list h2 {
  margin-bottom: 20px;
  width: 100%;
}

.pet-list .pet-card {
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 300px;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  
}

@media screen and (max-width: 600px) {
  .pet-list .pet-card {
      flex-basis: 100%; /* Full width on smaller screens */
  }
}

.add-pet-form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  padding: 2.5%;
}

.add-pet-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-pet-form input {
  width: 50%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 7px;
}

.add-pet-form select {
  width: 10%;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px 5px;
  border-radius: 7px;
}

.add-pet-form label {
  margin-bottom: 5px;
}

.add-pet-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(49, 198, 199, 0.5);
  border-radius: 10px;
  width: 25%;
}

.pet-card img {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.pet-card h3 {
  text-decoration: underline;
}

.pet-card-buttons button {
  padding: 7px 15px;
  cursor: pointer;
  background-color: rgba(49, 198, 199, 0.5);
  border-radius: 10px;
  width: 100px;
  margin: 10px;
}

.pet-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  padding: 25px;
}

.login-form h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.signup-form h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .login-form h1 {
      font-size: 2em; /* Smaller font size for very small screens */
  }

  .login-form {
    width: 75%; /* Increase width on smaller screens if needed */
  }

  .signup-form h1 {
    font-size: 2em;
  }

  .signup-form {
    width: 75%;
  }
}

.login-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 50%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 7px;
}

.login-form label {
  margin-bottom: 5px;
}

.login-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(49, 198, 199, 0.5);
  border-radius: 10px;
  width: 25%;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  padding: 25px;
}

.signup-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  width: 50%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 7px;
}

.signup-form label {
  margin-bottom: 5px;
}

.signup-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(49, 198, 199, 0.5);
  border-radius: 10px;
  width: 25%;
}